
img {
    /* display: block; */
    /* width: 100vw; */
    height: 100vh;
    object-fit: auto;
    z-index: -1;
  }

  video#bgvid {
position: fixed; right: 0; bottom: 0 ;
width: 24vw; z-index: -1;;
height: 100vh;
object-fit: fill;
  }

  .modal-button {
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    font-family: 'Cookie', cursive;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
      text-decoration: none;
      border: 1px solid rgb(32, 32, 32);
      position: relative;
      overflow: hidden;
  }

  .modal-button:hover {
    box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.4);
  } 

  .modal-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(237, 237, 247, 0.4),
      transparent
    );
    transition: all 650ms;
  } 
  
  .modal-button:hover:before {
    left: 100%;
  }